# Default ignored files
/shelf/
/workspace.xml
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

# Ignorar arquivos compilados em todas as pastas
*.class
**/out/
**/target/

# Ignorar configurações do IntelliJ em todas as pastas
**/.idea/
*.iml
